.header {
  width: 100%;
  height: 150px;
  padding: 50px 20px;
  background-color: #00a859;
  font-size: 1.2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div > h1.titulo {
  font-size: 40px;
  font-family: "Google Sans Code", monospace;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

div > p.subtitulo {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin: 5px 0 0 0;
}

div > a {
  background-color: #ffbb00;
  color: #ffffff;
  padding: 1%;
  border-radius: 8%;
  text-decoration: none;
}

.titulo__principal {
  margin: 2%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 00;
  font-size: 40px;
}

.main{
  background-color: black;
}
