.header {
  width: 100%;
  background-color: #00a859;
  padding: 30px 20px;
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 40px;
  margin: 0;
}

.header p {
  font-size: 20px;
  margin: 10px 0 0;
}

.header a {
  display: inline-block;
  background-color: #ffbb00;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  margin-top: 15px;
  text-decoration: none;
  font-weight: bold;
}

/* TÍTULO PRINCIPAL */
.titulo__principal {
  text-align: center;
  font-size: 40px;
  margin: 30px 0;
}

/* GRID PRINCIPAL */
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.box h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.box p {
  font-size: 18px;
}

.titulo__meio {
  text-align: center;
  font-family: "Google Sans Code", monospace;
}

/* BOTÃO CADASTRO */
.btn__cadastro {
  display: block;
  margin: 30px auto;
  width: fit-content;
  background-color: #ffbb00;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* FOOTER */
.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

/* =========================
       MEDIA QUERIES
    ==========================*/

/* Até 926px (Tablet) */
@media (max-width: 926px) {
  .header h1 {
    font-size: 28px;
  }

  .header p {
    font-size: 16px;
  }

  .titulo__principal {
    font-size: 28px;
  }

  .main {
    grid-template-columns: 1fr 1fr; /* de 3 colunas para 2 */
  }
}

/* Até 480px (Celular) */
@media (max-width: 480px) {
  .header {
    padding: 20px 10px;
  }

  .header h1 {
    font-size: 24px;
  }

  .header p {
    font-size: 14px;
  }

  .header a {
    font-size: 14px;
    padding: 10px 20px;
  }

  .titulo__principal {
    font-size: 22px;
  }

  .main {
    grid-template-columns: 1fr; /* apenas 1 coluna */
  }

  .box h2 {
    font-size: 18px;
  }

  .box p {
    font-size: 14px;
  }

  .titulo__meio {
    text-align: center;
    font-family: "Google Sans Code", monospace;
  }

  .btn__cadastro {
    font-size: 16px;
    padding: 10px 20px;
  }

  .footer {
    font-size: 12px;
  }
}

/* Até 320px (Celulares pequenos) */
@media (max-width: 320px) {
  .header h1 {
    font-size: 20px;
  }

  .header p {
    font-size: 12px;
  }

  .header a {
    padding: 8px 15px;
  }

  .titulo__principal {
    font-size: 20px;
  }

  .titulo__meio {
    text-align: center;
    font-family: "Google Sans Code", monospace;
  }

  .btn__cadastro {
    width: 90%;
    text-align: center;
  }
}
